<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cc</title>
    <link rel="stylesheet" href="vendors/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="css/pub-search.css">
    <script src="js/angular-1.2.25.min.js"></script>
    <script src="js/lodash.compat.min.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/filters/filters.js"></script>
    <script src="js/pub-search.js"></script>

</head>

<body ng-controller="appCtrl" ng-cloak>
<!--[if lt IE 8]>
    <script src="js/ie6-alert.js"></script>
<![endif]-->
    <div class="header">

    </div>
    <div class="main">
        <div ng-hide="certs.length" class="no-results" ng-class="isQueried ? 's' : 'hidden'">查无结果</div>
        <div class="table-wrapper" ng-repeat="cert in certs | range: pagination.currentPage: pagination.itemsPerPage">
            <table class="table table-bordered table-hover text-center my-table"  >

                <tr ng-repeat="k in dbKeys" >
                    <td>{{toChineseKey(k)}}</td>
                    <td>{{ k=='certdate' ? (cert[k] | date:"yyyy-MM-dd") : cert[k]}}</td>
                </tr>
            </table>
        </div>

        <pagination ng-show="certs.length" total-items="pagination.total" ng-model="pagination.currentPage" items-per-page="pagination.itemsPerPage" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" max-size="pagination.maxSize" num-pages="pagination.numPages">
        </pagination>

    </div>

</body>

</html>
