@import (reference) "bootstrap.less";

hello {
	color: white;
	padding: 0;
	.make-row();
}

.major-container {
	padding-left:  100px;
	.major{
		border: 1px solid red;
	}
}

.wt-container{
	padding-left:  100px;
	.work-type{
		border: 1px solid blue;
		padding: 10px;
	}	
}