<div class="modal-extra-info">
    <div class="modal-header">
        <h3 class="modal-title">学分置换范围及置换方法</h3>
    </div>
    <div class="modal-body">
        <h2>置换范围</h2>
        <p class="kaiti">1、北京理工大学学历继续教育汽车类专业：汽车检测与维修技术（专科）、汽车服务工程（检测与维修）（本科）、汽车服务工程（鉴定与评估）（专科、本科）、汽车服务工程（汽车营销）（专科、本科）、汽车服务工程（理赔与估损）（专科、本科）等相关专业课程。</p>
        <p class="kaiti">2、职业资格证书中汽车检测维修服务师、汽车营销师、汽车保险理赔师、二手车评估师等工种。</p>
		<p class="kaiti">3、职业工种和专业层次对应情况表如下：</p>
		<table class="table table-bordered table-hover text-center table-striped">
			<!-- <caption>职业工种和专业层次对应情况</caption> -->
			<thead>
				<tr><th>序号</th><th>专业层次</th><th>职业工种</th></tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">1</td>
					<td class="text-left">汽车检测与维修技术（专科）<br>汽车服务工程（检车与维修方向）（本科）</td>
					<td class="text-left">汽车检测与维修技术服务助师、师级</td>
				</tr>
				<tr>
					<td class="text-center">2</td>
					<td class="text-left">汽车服务工程（鉴定与评估）（专科、本科）</td>
					<td class="text-left">汽车二手车评估助师、师级</td>
				</tr>
				<tr>
					<td class="text-center">3</td>
					<td class="text-left">汽车服务工程（汽车营销）（专科、本科）</td>
					<td class="text-left">汽车营销助师、师级</td>
				</tr>
				<tr>
					<td class="text-center">4</td>
					<td class="text-left">汽车服务工程（理赔与估损）（专科、本科）</td>
					<td class="text-left">汽车保险理赔助师、师级</td>
				</tr>
			</tbody>
		</table>

		<h2>置换方法</h2>
		
		<ol class="kaiti">
			<li>专业层次与职业工种层次的对应。职业工种中的“XXX助师”等级对应学历教育的专科、本科层次；职业工种的“XXX师”等级对应学历教育的本科层次。职业工种对应本科层次时需要提前取得专科学历。</li>
			<li>学员取得成绩互认范围内所列职业工种中的国家职业资格证书后，在选读北京理工大学相应汽车类专业时，可免修15%的专业课程学分，并以国家职业资格证书中的百分制成绩记载课程成绩；</li>
			<li>学员考试通过北京理工大学汽车类专业课程后，报考国家职业资格证书考试时，可以减免相应职业工种的国家职业资格证书的理论考试，并以对应理论课程平均成绩记载证书理论部分成绩，实际操作部分按照国家职业资格证书的考试要求正常进行。</li>
		</ol>



    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认</button>        
    </div>

</div>
