<div class="appl-result">
	<div class="success-info">
	    <div class="alert alert-success" ng-show="!hasApplied">申请成功</div>

		<div ng-show="hasApplied" class="alert alert-warning">您已于{{appliedTime}}申请成功，请不要再次申请。您之前的申请记录为：
		</div>		
	</div>

    <p>
        您已通过机械工业职业技能鉴定指导中心针对机械行业职业资格证书置换北理工远程教育专业学分资质认证审核，请打印认证书并携带至北京理工大学远程教育<span class="btn btn-default link-centers" ng-click="open('center')">各学习中心</span>报名。
    </p>

    <div ng-include="'views/report.html'"></div>

    <p class="change-major">如果您申报错了专业，请
		<button class="btn btn-sm btn-default" ng-click="restart(true)">重新选择专业</button>
    </p>
</div>
