@import (reference)"bootstrap.less";
body {
    width: 850px;
    margin: 0 auto;
}
.app-title{
	.bg-primary;
	text-align: center;
	padding: 10px 80px;
}

@step-w: 195px;
@step-h: 107px;
.step-indicator{
	position: relative;
	.spinner{
		position: absolute;
		top: 50px;
	}
	&:extend(.clearfix all);
	padding: 25px 0 25px 65px;
	.step {
		float: left;
		width: @step-w;
		height: @step-h;
		background-image: url('../img/steps.jpg');
	}
	.step.current-step{
		background-image: url('../img/steps-highlight.jpg');
	}
	.step2 {
		background-position: -@step-w 0;
	}
	.step3 {
		background-position: -@step-w * 2 0;
	}
	.arrow{
		float:left;
		.size(69px, @step-h);
		background: url("../img/arrow.jpg") 0 center no-repeat;
		float: left;
	}
}
.app-main {
	margin-top: 5px;
	.intro, .appl-result{
		&:extend(.well all);
		background: white;
		margin: 0 auto 30px;
		width: 650px;
		padding: 25px 40px 15px;
		text-align: left;
		@media print {
			width: 100%;
		}
	}
	.intro {
		font-size: 18px;
	}
	.link-extra-info{
		cursor: pointer;
		font-size: 20px;
		margin: 20px 0;
	}
	text-align: center;
	&:extend(.well all, .well-lg all);
}

.credit-apply {
	width: 500px;
	margin: 0 auto;
}

.report {
	table {
		margin: 20px auto;
		width: 400px;
		@media print{
			width: 100%;
		}
	}
	text-align: center;
	margin-bottom: 40px;
}


.test-tmp, .rechoose{
	// even if we don't give its parent position:relatvie,
	// as long as we don't specify left:w/e; its position is fine
	position: absolute;
	margin-left: 30px;
	&:extend(.alert all, .alert-info all);
}

.modal-extra-info{
	padding: 0 50px;
	height: 650px;
	overflow-y: scroll;
	.kaiti {
		font-size: 18px;
		font-family: KaiTi,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color: black;
	}
	h1, h2{
		font-weight: bold;
		font-size: 25px;
	}
	table {
		th {
			text-align: center;
			white-space: nowrap;			
		}
		td {
			font-size: 15px;
			vertical-align: middle !important;
		}
		margin-top: 40px;
		caption {
			font-size: 20px;
			font-weight: bold;
		}
	}
	li {
		margin: 10px;
	}
}

.ca-btn-print, .success-info, .change-major{
	.hidden-print;
}
.app-main, .appl-result{
	@media print {
		border: none !important;		
	}
}
