.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.test-tmp,
.rechoose {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.test-tmp h4,
.rechoose h4 {
  margin-top: 0;
  color: inherit;
}
.test-tmp .alert-link,
.rechoose .alert-link {
  font-weight: bold;
}
.test-tmp > p,
.test-tmp > ul,
.rechoose > p,
.rechoose > ul {
  margin-bottom: 0;
}
.test-tmp > p + p,
.rechoose > p + p {
  margin-top: 5px;
}
.test-tmp,
.rechoose {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.test-tmp hr,
.rechoose hr {
  border-top-color: #a6e1ec;
}
.test-tmp .alert-link,
.rechoose .alert-link {
  color: #245269;
}
.app-main,
.app-main .intro,
.app-main .appl-result {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.app-main blockquote,
.app-main .intro blockquote,
.app-main .appl-result blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.app-main {
  padding: 24px;
  border-radius: 6px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.step-indicator:before,
.step-indicator:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.step-indicator:after {
  clear: both;
}
body {
  width: 850px;
  margin: 0 auto;
}
.app-title {
  color: #fff;
  background-color: #428bca;
  text-align: center;
  padding: 10px 80px;
}
a.app-title:hover {
  background-color: #3071a9;
}
.step-indicator {
  position: relative;
  padding: 25px 0 25px 65px;
}
.step-indicator .spinner {
  position: absolute;
  top: 50px;
}
.step-indicator .step {
  float: left;
  width: 195px;
  height: 107px;
  background-image: url('../img/steps.jpg');
}
.step-indicator .step.current-step {
  background-image: url('../img/steps-highlight.jpg');
}
.step-indicator .step2 {
  background-position: -195px 0;
}
.step-indicator .step3 {
  background-position: -390px 0;
}
.step-indicator .arrow {
  width: 69px;
  height: 107px;
  background: url("../img/arrow.jpg") 0 center no-repeat;
  float: left;
}
.app-main {
  margin-top: 5px;
  position: relative;
  text-align: center;
}
.app-main .ca-btn-help {
  position: absolute;
  right: 50px;
}
.app-main .intro,
.app-main .appl-result {
  background: white;
  margin: 0 auto 30px;
  width: 650px;
  padding: 25px 40px 15px;
  text-align: left;
}
@media print {
  .app-main .intro,
  .app-main .appl-result {
    width: 100%;
  }
}
.app-main .intro {
  font-size: 18px;
}
.app-main .link-extra-info {
  cursor: pointer;
  font-size: 20px;
  margin: 20px 0;
}
.credit-apply {
  width: 500px;
  margin: 0 auto;
}
.report {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.report table {
  margin: 20px auto;
  width: 400px;
}
@media print {
  .report table {
    width: 100%;
  }
}
.test-tmp,
.rechoose {
  position: absolute;
  margin-left: 30px;
}
.modal-readme {
  padding: 0 50px;
  height: 650px;
  overflow-y: scroll;
  /*
	h1, h2{
		font-weight: bold;
		font-size: 25px;
	}
	table {

		tr td:first-child{
			font-weight: bold;
		}
		th {
			text-align: center;
			white-space: nowrap;
			background-color: #e1e1e1;
		}
		td {
			font-size: 15px;
			vertical-align: middle !important;

		}
		&, th, td {
			border: 1px solid #000 !important;
		}
		margin-top: 40px;
		caption {
			font-size: 20px;
			font-weight: bold;
		}

	}*/
}
.modal-readme .kaiti {
  font-size: 18px;
  font-family: KaiTi_GB2312, KaiTi, "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}
.modal-readme .zhou-ugly {
  margin-top: 0;
}
@media print {
  .ca-btn-print,
  .success-info,
  .change-major {
    display: none !important;
  }
}
@media print {
  .app-main,
  .appl-result {
    border: none !important;
  }
}
.centers-label {
  font-size: 14px;
}
