<div class="{{myClass}}">
    <input type="text" ng-model="myModel.name" ng-show="myModel._isNew" placeholder={{myPlaceholder||'输入名称'}} gf-enter="someFn()">
    <div class="btn-group" ng-show="myModel._isNew">
	    <button type="button" class="btn btn-primary" ng-click="someFn()" ng-disabled="!myModel.name">
	      	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	    </button>
	    <button type="button" class="btn btn-primary"  ng-click="cancel()">
	      	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	    </button>
    </div>


    <span ng-hide="myModel._isNew" class="name">{{myModel.name}}</span>


	<button type="button" ng-click="remove()" ng-show="mode=='simple'&&!myModel._isNew" class="close btn-remove">
	    <span>&times</span>
	</button>

	<div class="btn-toolbar" ng-show="mode!='simple'">
		
	    <div class="btn-group" ng-hide="myModel._isNew">
			<button type="button" class="btn btn-default btn-sm" ng-click="edit()">编辑</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="remove()">删除</button>
		</div>
		<div class="btn-group"> 
	    	<button class="btn btn-primary btn-sm" ng-click="addChild(myModel)" ng-hide="myModel._isNew|| !hasChild">添加工种</button>
    	</div>
	</div>
    
</div>

<div ng-transclude></div>