<div class="panel-body">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="certnumber">证书号</label>
            <input class="form-control" id="certnumber" placeholder="证书号" ng-model="criteria.certnumber">
        </div>
        
        <div class="form-group">
            <label class="sr-only" for="idnumber">身份证号</label>
            <input  class="form-control" id="idnumber" placeholder="身份证号" ng-model="criteria.idnumber">
        </div>
        <div class="form-group">
            <label class="sr-only" for="name">姓名</label>
            <input  class="form-control" id="name" placeholder="姓名" ng-model="criteria.name">
        </div>
        <button class="btn btn-primary" ng-click="find(criteria)">查找</button>
        <button class="btn btn-primary" ng-click="openModalSearch()">更多查找选项</button>
    </form>
</div>
